[submodule "closure-library"]
	path = closure-library
	url = https://github.com/google/closure-library/
[submodule "closure-templates"]
	path = closure-templates
	url = https://github.com/google/closure-templates.git
